html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  color: #333;
  background-color: #eee9de;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  vertical-align: middle;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.image {
  display: inline-block;
  max-width: 25em;
}

section {
  padding: 2em 0;
  vertical-align: middle;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  text-align: left;
  vertical-align: middle;
}

.btn {
  border: 3px solid #333;
  padding: .4em .75em .5em;
  border-radius: 4px;
  text-decoration: none;
  color: #666;
  text-align: center;
}

a:hover {
  background-color: #666;
  color: #fff;
}
